.about_me-wrapper {
    display: flex;
    justify-content: space-between;
}

.foto-panel-wrapper {width: 200px;}

.content-wrapper {
    width: calc(100% - 400px); 
    padding: 30px;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
}
.education-panel-wrapper{
    width: 550px;
    padding-left: 5%;
}

.skills-panel-wrapper{
    width: calc(100% - 200px);
    padding-left: 150px;
}

.work-panel-wrapper{
    width: calc(100% - 200px);
    padding-left: 50px;
}

.tkd-panel-wrapper{
    width: 550px;
    padding-left: 5%;
}

.games-panel-wrapper{
    width: calc(100% - 200px);
    padding-left: 50px;
}

.books-panel-wrapper{
    width: calc(100% - 200px);
    padding-left: 50px;
}

#skills{
margin-top: 5%;
padding-top: 5%;
padding-left: 5%;
padding-bottom: 5%;
background: rgb(251,251,251);
background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(255,94,253,1) 30%, rgba(139,159,250,1) 62%, rgba(128,0,113,1) 100%); 

}

#projects{
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background: rgb(251,251,251);
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(255,94,253,1) 30%, rgba(139,159,250,1) 62%, rgba(128,0,113,1) 100%); 
    
    }    

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    background: rgb(128,0,113);
    background: linear-gradient(90deg, rgba(128,0,113,1) 0%, rgba(139,159,250,1) 49%, rgba(128,0,113,1) 100%);

}

h1{
    margin-left: 10px;
    float: left;
}

h3{
    font-size: 30px;
    text-align: left;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

footer{
    padding-left: 5%;
    padding-bottom: 5%;
    bottom:0;
    background: rgb(251,251,251);
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(255,94,253,1) 30%, rgba(139,159,250,1) 62%, rgba(128,0,113,1) 100%); 
}

h5{
    font-size: 25px;
    margin-left: 10px;
}

.nav{
    font-size: 20px;
    float: right;
    position: relative;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-right: 2.5%;
}
.nav a {
    text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 45px;
  border-radius: 45px;
  margin: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.nav a:hover {
    background: #ac31f8;
  box-shadow: 0 15px 20px rgba(136, 13, 243, 0.4);
  color: white;
  transform: translateY(-7px);
}

.foto{
    float: left;
    margin-right: 5%;
}

.info{
    margin-left: 20px;
}  



.parallax{
background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.contact{
    text-align: center;
    display: inline;
    background-color: #ac31f8;
    border-radius: 45px;
    width: 45px;
    height: 30px;
    padding: 20px 10px 10px 10px;
    margin: 5px 5px;

    }
    
dt{
    text-decoration: underline;
    font-weight: bold;
}
.test{
    margin-left: 20px;
    font-size: 15px;
    font-style: italic;
}

#about_me{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
padding-top: 5%;
padding-left: 5%;
background: rgb(251,251,251);
background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(255,94,253,1) 30%, rgba(139,159,250,1) 62%, rgba(128,0,113,1) 100%); 

}

#hobbies{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
padding-top: 5%;
padding-left: 5%;
background: rgb(251,251,251);
background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(255,94,253,1) 30%, rgba(139,159,250,1) 62%, rgba(128,0,113,1) 100%); 

}


.content{
    padding-top: 12.6%;
    padding-bottom: 5%;
}

h4{
    font-size: 25px;
}

li{
    list-style-type: square;
}

.blend{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blend img{
    position: absolute;
}
.blend h2{
    font-size: 100px;
    text-align: left;
    text-shadow: 1px 0 10px rgb(255, 255, 255);
    mix-blend-mode: hard-light;
}
.blend p{
    font-style: italic;
    text-align: left;
    font-size: 22px;
    text-shadow: 1px 0 10px rgb(255, 255, 255);
    mix-blend-mode: hard-light;
}

.accordion {
    text-decoration: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    margin: 15px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    padding: 20px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
}
.active, .accordion:hover {
    background: #ac31f8;
    box-shadow: 0 15px 20px rgba(136, 13, 243, 0.4);
    color: white;
    transform: translateY(-7px);
  
}
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}