.parallax{
background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.blend{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blend img{
    position: absolute;
}
.blend h2{
    font-size: 100px;
    text-align: left;
    text-shadow: 1px 0 10px rgb(255, 255, 255);
    mix-blend-mode: hard-light;
}
.blend p{
    font-style: italic;
    text-align: left;
    font-size: 22px;
    text-shadow: 1px 0 10px rgb(255, 255, 255);
    mix-blend-mode: hard-light;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    background:#10121B;

}

h1{
    margin-left: 10px;
    float: left;
    color: #1977a0;
}

.nav{
    font-size: 20px;
    float: right;
    position: relative;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-right: 2.5%;
}
.nav a {
    text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 45px;
  border-radius: 45px;
  margin: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #eaf4f8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.nav a:hover {
    background: #459abe;
  box-shadow: 0 15px 20px #98c7db;
  color: #E8F9F2;
  transform: translateY(-7px);
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.about_me-wrapper {
    display: flex;
    justify-content: space-between;
}

.foto-panel-wrapper {width: 200px;}

.content-wrapper {
    width: calc(100% - 400px); 
    padding: 30px;
}

.content{
    padding-top: 12.6%;
    padding-bottom: 5%;
}


.about{
    background-color: aliceblue;
    padding: 3%;
    border-radius: 45px;
}

.foto{
    float: left;
    margin-right: 5%;
}

#about_me{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 5%;
    background: #318eb7;

}

.contact{
    text-align: center;
    display: inline;
    background-color:#EFEDE4;
    border-radius: 45px;
    min-width: 260px;
    height: 30px;
    padding: 20px 10px 10px 10px;
    margin: 5px 5px;

    }

h3{
    font-size: 30px;
    text-align: left;
    color:#051820;
}



.column-wrapper {
    display: flex;
    justify-content: space-between;
}
.education-panel-wrapper{
    width: 33.3%;
    padding-left: 1%;
}

.education{
    background-color: aliceblue;
    border-radius: 45px;
    padding: 3%;
    padding-bottom: 4%;
}

.test{
    margin-left: 20px;
    font-size: 15px;
    font-style: italic;
}

.skills-panel-wrapper{
    width: 33.3%;
    padding-left: 50px;
}

.skill{
    background-color: aliceblue;
    border-radius: 45px;
    padding: 3%;
}

.work-panel-wrapper{
    width: 33.3%;
    padding-left: 50px;
    padding-right: 1%;
}

.work{
    background-color: aliceblue;
    border-radius: 45px;
    padding: 3%;
    padding-bottom: 15%;
}

#skills{
margin-top: 5%;
padding-top: 1%;
padding-left: 5%;
padding-bottom: 1%;
background: #459abe;
}

#projects{
    margin-top: 5%;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    background: #1977a0;
    
    }   
    
.accordion {
    text-decoration: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    margin: 15px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #eaf4f8;
      box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    padding: 20px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
}
.active, .accordion:hover {
    background: #459abe;
  box-shadow: 0 15px 20px #98c7db;
  color: #E8F9F2;
    transform: translateY(-7px);
  
}
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.tkd-panel-wrapper{
    width: 33.3%;
    padding-left: 1%;
}

.tkd{
    background-color: aliceblue;
    border-radius: 45px;
    padding: 3%;
}

.games-panel-wrapper{
    width: 33.3%;
    padding-left: 50px;
}

.games{
    background-color: aliceblue;
    padding: 3%;
    border-radius: 45px;
}

.books-panel-wrapper{
    width: 33.3%;
    padding-left: 50px;
    padding-right: 1%;
}

.books{
    background-color: aliceblue;
    padding: 3%;
    border-radius: 45px;
}

h4{
    font-size: 25px;
    color: #051820;
}

#hobbies{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 5%;
    background: #145f80;

}

h5{
    font-size: 25px;
    margin-left: 10px;
    color: #051820;
}

.info{
    margin-left: 20px;
    background-color: aliceblue;
    border-radius: 45px;
    padding: 3%;
    margin-right: 1%;
}  

footer{
    padding-left: 1%;
    padding-bottom: 5%;
    padding-top: 1%;
    background: #0f4760;
}

li{
    list-style-type: square;
}