header{
    position: static;
    margin-bottom: 10px;
    
}
h1{

    margin-left: 10px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #d7fff1; 
    color: #000500;
}
footer{
    margin-top: 0px;
    background-color: #9b9cce;
    border-style: solid;
}
h5{
    font-size: 25px;
    margin-left: 10px;
}
nav{
    text-align: center;
   background-color: #6665dd;
}
.nav{
    position: relative;
    border-style: solid;
    font-size: 20px;
}
.nav a:link {
    color: aliceblue;
    text-decoration: none; 
    font-size: 20px;
}
.nav a:hover {
    color: aliceblue; 
    background-color: #8B8AE5; 
    font-size: 20px;
}
.nav a:visited {
    color: aliceblue; 
    text-decoration: none; 
    font-size: 20px;
}
.nav a:active {
    color: #13293D; 
    background-color: #8B8AE5; 
    font-size: 20px;}

.foto{
    float: right;
    margin-right: 200px;
    margin-top: 4.3px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
}
.info{
    margin-left: 20px;
}
.cv{
    margin-left: 25px;
}
p1{
    font-style: italic;
    font-size: 22px;
}
dt{
    text-decoration: underline;
}
.test{
    margin-left: 20px;
    font-size: 15px;
    font-style: italic;
}
#about_me{
    border-bottom: solid;
}
h2{
    margin-left: 10px;
}